:root {
  --black: #11151f;
  --dark-grey: #d4d4d4;
  --grey-blue-hover: #283040;
  --grey-blue: #374456;
  --mid-grey: #f1f1f1;
  --white: #fcfcfc;
  --yellow: #e5b261;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Work Sans", sans-serif;
}

/* ON YOUR OWN

    Write a special media query that only applies to the two smallest screen sizes. In these layouts, the brand (the logo and name of the company should):

    1. be positioned at the top of the page
    2. have white text
    3. have a drop-shadow on the text

*/
svg {
  width: 2rem;
}

/* SMALL */
@media screen and (min-width: 600px) {
  header a {
    color: var(--white);
    text-shadow: 2px 2px var(--dark-grey);
    text-decoration: none;
    font-weight: 900;
    font-size: 2rem;
  }
  picture{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
  }
  body {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
  }
  main h2 {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 43rem;
  }
  main p {
    margin-top: 2rem;
  }

  .trial-banner {
    color: white;
    background-color: var(--yellow);
    text-align: center;
    font-size: 1.75rem;
  }
  form {
    background-color: var(--mid-grey);
  }
  form > div {
    display: grid;
    grid-template-columns: auto;
  }
  .input {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }

  form > h3,
  form > label {
    padding: 1rem 0 0 1rem;
  }

  form > button {
    background-color: var(--grey-blue);
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.25rem;
    color: var(--white);
    text-transform: capitalize;
    width: 96%;
    margin-left: 0.75rem;
  }
}

/* MEDIUM */
@media screen and (min-width: 820px) {
  header a {
    color: var(--white);
    text-shadow: 2px 2px var(--dark-grey);
    text-decoration: none;
    font-weight: 900;
    font-size: 2rem;
  }
  picture{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
  }
  body {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
  }
  main h2 {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 60rem;
  }
  main p {
    margin-top: 2rem;
  }

  .trial-banner {
    color: white;
    background-color: var(--yellow);
    text-align: center;
    font-size: 1.75rem;
  }
  form {
    background-color: var(--mid-grey);
  }
  form > div {
    display: grid;
    grid-template-columns: 50% auto;
  }
  .input {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }

  form > h3,
  form > label {
    padding: 1rem 0 0 1rem;
  }

  form > button {
    background-color: var(--grey-blue);
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.25rem;
    color: var(--white);
    text-transform: capitalize;
    width: 97%;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
